.chatContainer {
    position: fixed;
    width: 180px;
    height: 100%;
    right: 0;
    position:fixed;
    overflow-y:scroll;
    z-index: 2;
    overflow-x:hidden;
    box-shadow: 2px 0px 2px 3px gray;
    background-color: white;
    transform: scaleY(0);

    transform-origin: bottom;
    transition: transform 0.4s ease-in-out;
}

.chatContainerActive {
    transform: scaleY(1);
    transform-origin: bottom;
    transition: transform 0.4s ease-in-out;
}

.chatFloatOpen {
    position: fixed;
    width: 10em;
    height: 2em;
    right: -2px;
    bottom: 0;
    border: 2px solid var(--themeSecondary);
    border-bottom: 0;
    border-top-left-radius: 10px;
    background-color: white;
    z-index: 2;
    display: flex;
    align-items: center;
}

.navbarHeader ~ .chatContainer .chatContactListFloat {
    position: fixed;
    width: 180px;
    height: 7em;
    bottom: 0;
    border-top: 1.5px solid black;
    background-color: white;
    text-align: center;
}


.navbarHeader[data="float"] ~ .chatContainer .chatContactListFloat {
    height: 2.8em;
}

.navbarHeader ~ .chatContainer .chatContactListFloat span {
    font-size: 0.8em;
    text-align: center;
    color: #00529B;;
}

.chatFloatOpen p {
    font-family: 'Roboto', sans-serif;
    font-size: 0.8em;
    margin-left: 2em;
    cursor: default;
}

.chatFloatOpen p::after {
    content:"\A";
    color: white;
    font-size: 0.7em;
    text-align: center;
    width:15px;
    height:15px;
    border-radius:50%;
    margin-bottom: -0.20em;
    margin-left: 1em;
	background-color: #5DBF39;
   	display: inline-block;
}

.chatContactList {
    position: sticky;
    width: 100%;
    height: 100%;
    background-color: white;
}

.navbarHeader ~ .chatContainer .chatContactItems {
    position: relative;
    padding-top: 1em;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 2.8em;
}

.navbarHeader[data="float"] ~ .chatContainer .chatContactItems {
    padding-top: 4em;
}

.chatContact {
    cursor: pointer;
    position: relative;
    margin-top: .75em;
    height: fit-content;
    width: 100%;
    box-shadow: 0 2px 2px -2px gray;
    display: flex;
    justify-content: left;
    align-items: center;
    flex-direction: row;
}

.chatContact img {
    vertical-align: middle;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 1px solid var(--themeSecondary);
    margin-bottom: .5em;
    margin-left: .5em;
}

.chatContact .name {
    font-size: 0.8em;
    margin-left: 1.1em;
    margin-right: .5em;
    color: var(--editorColor);
}

.chatContact .status {
    font-size: 0.7em;
    margin-left: 3em;
}

.online {
    color: #5DBF39;
}

.offline {
	color: gray;
}

.hidden {
    display: none !important;
}

/*
    Chat box
*/

.chatBoxActive {
    transform: scaleY(1) !important;
    transform-origin: bottom;
    transition: transform 0.4s ease-in-out;
}

.chatBox {
    position: fixed;
    bottom: 0;
    width: 100%;
    z-index: 1;
    transform: scaleY(0);
    transform-origin: bottom;
    transition: transform 0.4s ease-in-out;
}

.chatBox .chatBoxHeader {
    display: flex;
    align-items: center;
    background-color: white;
    margin-left: -2px;
    margin-right: -2px;
    border-radius: 20px 20px 0 0;
    border: 2px solid var(--themeSecondary);
    box-shadow: 0 2px 2px -2px gray;
    border-bottom: 0;
    padding: 15px;
}

.chatViewProfileButton {
    background: var(--themePrimary);
    display: block;
    color: #fff;
    border-radius: 20px;
    padding: .5em;
    text-decoration: none;
    margin-left: 2em;
    border: none;
    transition: transform 0.2s ease-in-out;

}

.chatViewProfileButton:active {
    transform: scale(0.9);
    transition: transform 0.2s ease-in-out;
}

.chatBoxHeader .chatHeaderName {

    font-family: 'Roboto', sans-serif;
    font-size: 1em;
    margin-left: 2em;
    cursor: default;
}

.chatBoxHeader .chatHeaderImage img {

    vertical-align: middle;
    width: 50px;
    height: 50px;
    border: 1px solid var(--themeSecondary);
    border-radius: 50%;
    margin-bottom: .5em;
    margin-left: .5em;
}

.chatBoxMessageArea .profileImageSmall img {
    vertical-align: middle;
    width: 35px;
    border: 1px solid #333;
    height: 35px;
    border-radius: 50%;
    margin-bottom: .5em;
    margin-left: .5em;
    margin-right: .5em;
}

.chatBox .chatBoxMessageArea {
    max-height: 40vh;
    padding-top: 1em;
    background: #F5F5F5;
    overflow-y:scroll;
    overflow-x:hidden;
}

.chatBoxMessageArea .message {
    margin-bottom: 15px;
    display: flex;
    flex-direction: column;
}

.chatBoxMessageArea .message-left {
    align-items: flex-start;
}
.chatBoxMessageArea .message-right {
    align-items: flex-end;
}

.chatBoxMessageArea .message-left .bubble {
    border-radius: 0 5px 5px 5px;
}
.chatBoxMessageArea .message-right .bubble {
    border-radius: 5px 0 5px 5px;
}

.chatBoxMessageArea .bubble {
    padding: 10px;
    font-size: 14px;
    margin-top: 5px;
    margin-left: .5em;
    margin-right: .5em;
    display: inline-block;
}
.bubble-light {
    background-color: var(--fromChatColor);
}

.bubble-dark {
    color: #fff;
    background-color: var(--meChatColor);
}

.chatInput {
    display: flex;
    height: 65px;
    background-color: white;
    border-radius: 0 0 20px 20px;
    margin-left: -2px;
    margin-right: -2px;
    border: 2px solid var(--themeSecondary);
    border-top: none;
}

.chatInput .chatInputWrapper {
    width: 100%;
    overflow: hidden;
    border-radius: 0 0 0 20px;
}

.chatInput .chatInputWrapper input {
    position: relative;
    outline: none;
    border: none;
    padding-left: 20px;
    height: 100%;
    width: 80%;
    font-size: 14px;
}

.chatInput .chatInputWrapper .chatInputSendButton {
    background-color: #fff;
    height: 100%;
    width: 18%;
    color: var(--fromChatColor);
    font-weight: bold;
    border: none;
    border-radius: 0 0 15px 0;
}

.chatInput .chatInputWrapper .chatInputSendButton:hover {
    background-color: var(--meChatColor);
    color: #fff;
}


@media screen and (min-width: 875px) {

    .chatContainer {
        width: 220px;
        -ms-overflow-style: none;
    }

    .chatContainer::-webkit-scrollbar {
        display: none;
    }

    .navbarHeader ~ .chatContainer .chatContactListFloat {
        width: 220px;
    }

    .chatContactList {
        height: 90%;
    }

    .chatFloatOpen {
        position: fixed;
        width: 10em;
        height: 2em;
        margin-right: 10%;
        bottom: 0;
        border: 2px solid var(--themeSecondary);
        border-bottom: 0;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        background-color: white;
        z-index: 2;
        display: flex;
        align-items: center;
    }

}

@media screen and (min-width: 716px) {

    .chatBox {
        position: fixed;
        bottom: 0;
        margin-right: 10%;
        right: 0;
        width: 60%;
        z-index: 1;
        transform: scaleY(0);
        transform-origin: bottom;
        transition: transform 0.4s ease-in-out;
    }

}