.galeryWarpper {
    height: 100%;
    position: relative;
    width: 100%;

}

.galeryWarpper .row > .column {
    padding: 0 2px;
    padding-bottom: 0.9px;
}

.galeryWarpper .row:after {
    content: "";
    display: table;
    clear: both;
}

.galeryWarpper .column {
    float: left;
    width: 10em;
}

/* The Modal (background) */
.galeryWarpper .modal {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: black;
}

/* Modal Content */
.galeryWarpper .modal-content {
    position: relative;
    background-color: #fefefe;
    margin: auto;
    padding: 0;
    width: 90%;
    max-width: 1200px;
}

/* The Close Button */
.galeryWarpper .close {
    color: white;
    position: absolute;
    top: 10px;
    right: 25px;
    font-size: 35px;
    font-weight: bold;
}

.galeryWarpper .close:hover,
.galeryWarpper .close:focus {
    color: #999;
    text-decoration: none;
    cursor: pointer;
}

.galeryWarpper .mySlides {
    display: none;
}

.galeryWarpper .cursor {
    cursor: pointer;
}

/* Next & previous buttons */
.galeryWarpper .prev,
.galeryWarpper .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -50px;
    color: white;
    font-weight: bold;
    font-size: 20px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
    -webkit-user-select: none;
}

/* Position the "next button" to the right */
.galeryWarpper .next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

.galeryWarpper .prev {
    left: 0;
}

/* On hover, add a black background color with a little bit see-through */
.galeryWarpper .prev:hover,
.galeryWarpper .next:hover {
    background-color: rgba(0, 0, 0, 0.8);
}

/* Number text (1/3 etc) */
.galeryWarpper .numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
}

.galeryWarpper img {
    margin-bottom: -4px;
}

.galeryWarpper .caption-container {
    text-align: center;
    background-color: black;
    padding: 2px 16px;
    color: white;
}

.galeryWarpper .demo {
    opacity: 0.6;
}

.galeryWarpper .active,
.galeryWarpper .demo:hover {
    opacity: 1;
}

.galeryWarpper img.hover-shadow {
    transition: 0.3s;
}

.galeryWarpper .hover-shadow:hover {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

@media screen and (min-width: 875px) {


    .galeryWarpper .column {
        float: left;
        width: 20%;
    }

}


